# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Logs and databases
*.log
*.sqlite

# Results
results/
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Operating System
.DS_Store
Thumbs.db
